<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="Stylesheet" href="port.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    
    <button class="toggle-btn" id="mode-toggle">Dark mode</button>
   
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="Form.html">Contact</a></li>
            <li><a href="RESUME.html">Resume</a></li>
        </ul>
    </nav>
    <br><br>
    <marquee> <h1>HELLO THERE ! I'm LIGO</h1></marquee>
    <br><br><br>
    <div class="split left">
        <div class="centered">
            <div data-aos="fade-right">
                <br><br>
                <h2 id="reg">REGARDING</h2>
                <p>My name is Ligouri.</p>   
                <p>I'm a student from MKU.</p>
                <p>Doing my internship at (Sharpened Mind solution and technology).</p>
                <p>Now I'm doing small tasks on WEB DEVELOPMENT.</p>
                <P>I'm improving my skills through this intern program.</P>
            </div>
        </div>
    </div>
    <div class="split right">
        <div class="centered">
            <div data-aos="flip-down">
                <img src="resume img.jpg" alt="ligo" id="profile-img">
                <div class="butt">
                   <a href="Form.html"><input type="button" value="CONTACT"></a>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
        
        const toggleBtn = document.getElementById('mode-toggle');
        const body = document.body;

        function toggleMode() {
            body.classList.toggle('dark-mode');
            if (body.classList.contains('dark-mode')) {
                toggleBtn.textContent = 'Light Mode';
            } else {
                toggleBtn.textContent = 'Dark Mode';
            }
        }

        toggleBtn.addEventListener('click', toggleMode);

        
        const img = document.getElementById('profile-img');
        img.addEventListener('click', function () {
            this.classList.toggle('blurred');
        });
    </script>
      <style>
        
        .blurred {
            filter: blur(5px);
            transition: filter 0.3s ease;
        }
        
       
        .dark-mode {
            background-color: #121212;
            color: white;
        }

   
    </style>
</body>
</html>

